
<div ng-controller="step3Ctrl as model">
    <div class="c-step-info step3 mobile-only">
        <div class="row align-items-center justify-content-between">
          <div class="bg-1"></div>
          <div class="bg-2"></div>
          <div class="col">1</div>
          <div class="col">2</div>
          <div class="col">3</div>
        </div>
        <h1>報名完成</h1>
      </div>

      <div class="c-step-info step3 pc-only">
        <div class="row align-items-center justify-content-between">
          <div class="bg-1"></div>
          <div class="bg-2"></div>
          <div class="col">1<span>選擇所要報名的景點、梯次和所需的房間數</span></div>
          <div class="col">2<span>填寫報名者基本資料</span></div>
          <div class="col">3<span>報名完成</span></div>
        </div>
      </div>

      <div class="c-step2-summary">
        <div class="row">
          <div class="col-auto">景點</div>    
          <div class="col-auto">{{model.Tour.Title}}</div>
        </div>
        <div class="row">
          <div class="col-auto">梯次</div>   
          <div class="col-auto">{{model.Batch.BatchName}}</div> 
        </div>
        <div class="row">
          <div class="col-auto">房間</div>   
          <div class="col-auto"><span>{{model.Order.room4Count}}間4人房</span>&nbsp;<span>{{model.Order.room2Count}}間2人房</span></div> 
        </div>        
      </div>

      <div class="c-submit-panel" id="buttons">
        <!-- <div class="c-t-btn" ng-click="model.editTour()" ng-hide="model.Tour.isExpired">
          修改梯次房間
        </div> -->
        <div class="c-t-btn" ng-click="model.editMember()" ng-hide="model.Tour.isExpired">
          修改名單
        </div>
        <div class="c-t-btn" ng-click="model.removeOrder()">
          室長取消報名
        </div>
      </div>

      <div class="dummy-4em pc-only" style="display:none;"></div>
      <div class="c-textarea" style="display:none;">
        <textarea name="" placeholder="備註" rows="5" ng-model="model.Order.comment"></textarea>  
      </div>

      <div class="c-submit-panel" style="display:none;">
        <div class="c-t-btn" ng-click="model.updateComment()">
          編輯備註
        </div>
      </div>

      <div class="c-remind row justify-content-center mobile-only">
        <div class="col-auto text-left">
         <div ng-bind-html="model.NonOpenAreaDesc"/>
        </div>
      </div>

      <div class="c-remind fixed-w row justify-content-center pc-only">
        <div class="col-auto text-left">
          <div ng-bind-html="model.NonOpenAreaDesc"/>
        </div>
      </div>

      <div class="dummy-2em mobile-only"></div>

      <div class="c-table four-col mobile-only">
        <table class="fixed-thead">
          <thead>
            <tr>
              <th>報名身份</th><th>房型</th><th>姓名</th><th>金額</th>
            </tr>
          </thead>
        </table>
        <table>
          <thead></thead>
          <tbody>
            <tr ng-repeat="m in model.Order.members">
              <td><span ng-show="m.type == 0">室長</span><span ng-show="m.type == 1">員工</span><span ng-show="m.type == 2">眷屬</span><br>{{m.employeeID}}</td>
              <td>{{m.RoomDisplay}}</td>
              <td>{{m.name}}<br><span ng-show="m.type == 0">本人</span><span ng-show="m.type == 1">本人</span><span ng-show="m.type == 2">眷屬</span></td>
              <td>{{m.price}}</td>
            </tr>
          </tbody>
        </table>
      </div> <!-- end of "c-table four-col mobile-only" -->

      <div class="c-table one-four-col min-960 pc-only">
        <table class="fixed-thead">
          <thead>
            <tr>
                <!-- <th>編輯</th>
                <th>刪除</th> -->
                <th>報名身份</th>
                <th>員工編號</th>
                <th>房型</th>
                <th>姓名</th>
                <th>關係</th>
                <th>性別</th>
                <th>出生日</th>
                <th>身分證字號</th>
                <th>外國人</th>
                <th>手機號碼</th>
                <th>上車地點</th>
                <th>用餐</th>
                <th>佔床位</th>
                <th>金額</th>
            </tr>
          </thead>
        </table>
        <table>
          <thead></thead>
          <tbody>
            <tr ng-repeat="m in model.Order.members">
                <!-- <td><span class="edit-btn" ng-click="model.editMember(m)"></span></td>
                <td><span class="del-btn" ng-hide="m.type == 0" ng-click="model.delMember(m)"></span></td> -->
                <td><span ng-show="m.type == 0">室長</span><span ng-show="m.type == 1">員工</span><span ng-show="m.type == 2">眷屬</span></td>
                <td>{{m.employeeID}}</td>
                <td>{{m.RoomDisplay}}</td>
                <td>{{m.name}}</td>
                <td><span ng-show="m.type == 0">本人</span><span ng-show="m.type == 1">本人</span><span ng-show="m.type == 2">眷屬</span></td>
                <td><span ng-show="m.gender">男</span><span ng-hide="m.gender">女</span></td>
                <td><span ng-hide="m.type == 1 || m.type == 0">{{m.birthdayDisplay}}</span><span ng-show="m.type == 1 || m.type == 0">****/**/**</span></td>
                <td><span ng-hide="m.type == 1 || m.type == 0">{{m.uniqueID}}</span><span ng-show="m.type == 1 || m.type == 0">**********</span></td>
                <td><span ng-show="m.foreigner">Y</span><span ng-hide="m.foreigner">N</span></td>
                <td>{{m.phone}}</td>
                <td>{{m.RegionDisplay}}/{{m.StopDisplay}}</td>
                <td><span ng-show="m.food == 0">葷</span><span ng-show="m.food == 1">素</span><span ng-show="m.food == 2">否</span></td>
                <td><span ng-show="m.useBed">是</span><span ng-hide="m.useBed">否</span></td>
                <td>{{m.price}}</td>
            </tr>
          </tbody>
        </table>
      </div> <!-- end of "c-table one-six-col pc-only" -->

      <div class="c-submit-panel">
        <div class="c-t-btn" ng-click="model.logout()">
          登出
        </div>
      </div>
</div>