
/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */
/* common : 修改 bootstrap 原有 style  */
/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */
body {
  font-family: Helvetica, Arial, "LiHei Pro", "Heiti TC", "Microsoft JhengHei", sans-serif;

  -webkit-font-smoothing: antialiased;
  background-color: #F9F9F9;
}

/*.c-fluid-pic { padding: 2rem 5rem; }*/
/*@media (max-width: 576px) { .c-fluid-pic {padding: 1.5rem 1rem;} }*/
a {
  text-decoration: none;
  color: white;
}
a:hover {
  text-decoration: none;
  cursor: pointer;
  color:  white;
}
.container-fluid {
  padding-right: 0;
  padding-left: 0;
}
.container-fluid > .row {
  margin-right: 0;
  margin-left: 0;
}
.container-fluid > .row > .col, .container-fluid > .row > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}
/* Remove inner shadow from inputs on mobile iOS */
textarea, input[type="text"], select {
  -webkit-appearance: none;
}
button:focus, input:focus, select:focus, textarea:focus{
  outline: 0 !important;
  box-shadow: none!important;
}

button {
  outline: none;
  box-shadow: none;
}
button:hover {
  cursor: pointer;
}

.px-6 {padding-right: 6rem !important;padding-left: 6rem !important;}
.ml-6 {margin-left: 6rem !important;}
.ml-7 {margin-left: 12rem !important;}
.ts-5 {font-size: .5rem !important;}
.ts-10 {font-size: 1rem !important;}
.ts-15 {font-size: 1.5rem !important;}
.ts-20 {font-size: 2rem !important;}
.ts-30 {font-size: 3rem !important;}
@media (min-width: 576px) {
  .ts-sm-5 {font-size: .5rem !important;}
  .ts-sm-10 {font-size: 1rem !important;}
  .ts-sm-15 {font-size: 1.5rem !important;}
  .ts-sm-20 {font-size: 2rem !important;}
  .ts-sm-30 {font-size: 3rem !important;}
  .px-sm-6 {padding-right: 6rem !important;padding-left: 6rem !important;}
  .ml-sm-6 {margin-left: 6rem !important;}
  .ml-sm-7 {margin-left: 12rem !important;}
}
@media (min-width: 768px) {
  .ts-md-5 {font-size: .5rem !important;}
  .ts-md-10 {font-size: 1rem !important;}
  .ts-md-15 {font-size: 1.5rem !important;}
  .ts-md-20 {font-size: 2rem !important;}
  .ts-md-30 {font-size: 3rem !important;}
  .px-md-6 {padding-right: 6rem !important;padding-left: 6rem !important;}
  .ml-md-6 {margin-left: 6rem !important;}
  .ml-md-7 {margin-left: 12rem !important;}
}
@media (min-width: 992px) {
  .ts-lg-5 {font-size: .5rem !important;}
  .ts-lg-10 {font-size: 1rem !important;}
  .ts-lg-15 {font-size: 1.5rem !important;}
  .ts-lg-20 {font-size: 2rem !important;}
  .ts-lg-30 {font-size: 3rem !important;}
  .px-lg-6 {padding-right: 6rem !important;padding-left: 6rem !important;}
  .ml-lg-6 {margin-left: 6rem !important;}
  .ml-lg-7 {margin-left: 12rem !important;}
}
@media (min-width: 1200px) {
  .ts-xl-5 {font-size: .5rem !important;}
  .ts-xl-10 {font-size: 1rem !important;}
  .ts-xl-15 {font-size: 1.5rem !important;}
  .ts-xl-20 {font-size: 2rem !important;}
  .ts-xl-30 {font-size: 3rem !important;}
  .px-xl-6 {padding-right: 6rem !important;padding-left: 6rem !important;}
  .ml-xl-6 {margin-left: 6rem !important;}
  .ml-xl-7 {margin-left: 12rem !important;}

}
@media (min-width: 1200px) { .container { max-width: 90%;} }
.w-70 {width: 70% !important;}
.c-h-3 {height: 3%;}
.c-h-10 {height: 10%;}
.c-h-13 {height: 13%;}
.c-h-15 {height: 15%;}
.c-h-17 {height: 17%;}
.c-h-18 {height: 18%;}
.c-h-19 {height: 19%;}
.c-h-20 {height: 20%;}
.c-h-21 {height: 21%;}
.c-h-22 {height: 22%;}
.c-h-24 {height: 24%;}
.c-h-25 {height: 25%;}
.c-h-28 {height: 28%;}
.c-h-34 {height: 34%;}
.c-h-35 {height: 35%;}
.c-h-38 {height: 38%;}
.c-h-40 {height: 40%;}
.c-h-44 {height: 44%;}
.c-h-47 {height: 47%;}
.c-h-50 {height: 50%;}
.c-h-60 {height: 60%;}
.c-h-61 {height: 61%;}
.c-h-62 {height: 62%;}
.c-h-63 {height: 63%;}
.c-h-65 {height: 65%;}
.c-h-66 {height: 66%;}
.c-h-72 {height: 72%;}
.c-h-75 {height: 75%;}
.c-h-80 {height: 80%;}
.c-h-90 {height: 90%;}
.c-h-100 {height: 100%;}

.h-45 {height: 45% !important;}
.h-50 {height: 50% !important;}
.h-55 {height: 55% !important;}

.dummy-1em {height: 1em; width: 100%;}
.dummy-2em {height: 2em; width: 100%;}
.dummy-4em {height: 4em; width: 100%;}

.no-padding-bottom {padding-bottom: 0.5em !important; }
.no-padding-top {padding-top: 0.5em !important; }

.carousel {
  
  box-shadow: inset 0 3px 3px rgba(0,0,0,0.05) !important;
  
}
.carousel .carousel-item {
  
  box-shadow: inset 0 3px 3px rgba(0,0,0,0.05) !important;
}
.carousel .carousel-inner .carousel-item:before {
 box-shadow: inset 0 3px 3px rgba(0,0,0,0.05) !important;
}

/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */
/* common : (整個頁面)  */
/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */
html {
  font-size: 16px;
}

.pc-only {display: none !important;}
.mobile-only {display: block !important;}
@media (min-width: 576px) {
  .pc-only { display: block !important; }
  .mobile-only {display: none !important;}
}

.container-fluid.main {
  padding: 0;
  text-align: center;
}

.container-fluid.main >div{
  display: inline-block;
  width: 80%;
  max-width: 1250px;
  font-size: 1rem;
}
@media (max-width: 576px) {
  .container-fluid.main >div{
    width: 85%;
  }
}

.dropdown-menu {
  padding: 0;
  box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.5);
  min-width: 100px;
}
.dropdown-menu >a:last-of-type {
  border-bottom: none;
}
.dropdown-item {
  color: #717171;
  border-bottom: 1px solid #717171; 
  padding: 10px 45px 10px 40px;
}
.dropdown-item:hover {
  background-color: transparent;
}
.dropdown-menu-center {
  right: auto;
  left: 50%;
  transform: translate(-50%, 0);
}


.page-banner {
  margin: 0;
  padding: 0;
  height: 300px;
  width: 100%;
  position: relative;
  z-index: -10;
  color: white;
}
.page-banner >img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.page-banner >div {
  margin-left: 10%;
  top:0;
  left:0;
}

@media (max-width: 576px) {
  .page-banner >div {
    margin-left: 2.5%;
  }
}
.page-banner h1 {
  font-size: 40px;
  margin-bottom: 15px;
}
.page-banner h2 {
  font-size: 26px;
  margin-bottom: 15px;
}
.page-banner p {
  font-size: 15px;
}

.page-header {
  font-size: 30px;
  color: black;
  padding-left: 23px;
  border-left: 5px solid #DB143A;
  margin-bottom: 28px;
  text-align: left;
  height: auto;
  line-height: 43px;
}

p {

}
/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */
/* c-header : (上方 header)  */
/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */
.c-header {
  background-color: #0090D8;
  color: white;
  /*height: 110px;*/
  height: 50px;
}
.c-header >div {
  padding: 8px 2.3vw 8px 1vw;
  /*padding: 18px 0;*/
  height: 50px; 
  text-align: right;
  display: inline-block;
}
@media (max-width: 576px) {
  .container-fluid.main.c-header >div {
    padding: 8px 15px 8px 10px;
    width: 100%;
  }
}
.c-header >div >div {display: inline-block;}
.social-ico {display: inline-block;}
.social-ico .icon{
  width: 33px;
  height: 33px;
  vertical-align: middle;
  display: inline-block;
  background-size: contain;
  margin: 0 2px;
}
.social-ico .fb {background-image: url("../images/FB.svg");}
.social-ico .youtube {background-image: url("../images/youtube.svg");}
.social-ico .line {background-image: url("../images/line.svg");}
.social-ico .user {background-image: url("../images/login_icon.png");}

.c-header .login {
  /*margin: 10px 0 0 0; display: block;*/
  margin: 0 0 0 30px;
  display: inline-block;
  font-size: .8em;
}
.c-header .login >span{
  margin: 0 5px 0 0;
}
.c-header .input-group-prepend {
  background-color: white;
  margin: 0 0 0 10px;
  color: black;
  height: 32px;
  line-height: 32px;
}
.c-header .input-group-prepend >div {
  padding: 0 20px;
  min-width: 120px;
  border: 1px solid #DB143A;
  text-align: left;
}
.c-header .input-group-prepend .dropdown-toggle{
  border: 1px solid #DB143A;
  font-size: 1.5em;
  background-color: transparent;

}
.c-header .input-group-prepend .dropdown-toggle::after{
  border-color: #DB143A;
  border-right: .26em solid transparent;  
  border-left: .26em solid transparent;
  vertical-align: .2em;
  pointer-events: none;
}
.c-header .input-group-prepend .dropdown-toggle-split {
  padding-right: .7rem;
  padding-left: .7rem;
}
.c-header .social-ico {
  float: right;
}
/*@media (min-width: 576px) {
  .c-header {
    height: 70px;
  }
  .c-header .login { 
    margin: 0 0 0 30px;
    display: inline-block;
  }
}*/

.c-header .slogan {
  float: right;
  color: white;
  font-size: 15px;
  font-weight: 100;
  height: 33px;
  line-height: 33px;
  text-align: left;
}
.c-header .slogan span{
  margin-right: 10px;
}

@media (max-width: 1100px) {
  .c-header .slogan {line-height: 17px; margin-left: 2px;}
  .c-header .slogan span{ display: block; }
  .c-header .slogan.blue-theme {line-height: 33px;}
}

/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */
/* c-header login-modal : (上方 header 登入的跳出視窗)  */
/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */
.popup-login {
  text-align: center;
  position: relative;
  padding: 20px 30px;
  background-color: #F9F9F9;
}
.popup-login .close {
  color: #DB143A;
  position: absolute;
  top: 10px;
  right: 10px;
  opacity: .75;
}
.popup-login >h1 {
  padding: 20px 0;
  font-size: 16px;
  font-weight: bold;
}
.popup-login >input {
  margin-bottom: 10px;
  border: none;
  height: 40px;
  line-height: 40px;
  font-size: 12px;
  padding: 0 10px;
}
.popup-login >input.error {
  border: 1px solid #DB143A;
}
.popup-login .forgot  {
  margin: 5px auto;
  font-size: 12px;
}
.popup-login .confirm  {
  margin: 10px auto;
  background-color: #DB143A;
  color: white;
  padding: 10px 20px;
  width: 100px;
  display: inline-block;
}
.popup-login p {
  font-size: 12px;
  text-align: left;
  padding: 1.4em .5em 2em .5em;
}

/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */
/* c-nav : (上方header選單)  */
/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */
.c-nav {
  background-color: white;
  color: black;
  box-shadow: 0 3px 3px rgba(0,0,0,0.05);
}
.c-nav >div {overflow: visible;}
.c-nav >div >div{ 
  display:inline-block; 
  height: 90px; 
  vertical-align: top; 
  text-align: left;
}

.c-nav .logo {
  background-image: url("../images/LOGO-R.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 25%;
  vertical-align: middle;
  display: inline-block;
  background-size: contain;
  height: 90px; 
}

.c-nav .menu {
  width: 72%;
  text-align: right;
  cursor: pointer;
} 
.c-nav .menu >div{
  height: 90px;
  display: inline-flex;
  margin: 0 2%;
  position: relative;
}
.c-nav .menu >div .col{ padding: 0;}
.c-nav .menu >div .col a{ padding: 20px 0; color: black;}


.c-nav.blue-theme .menu >div .col:hover a{ color: #0090D8;}
.c-nav.blue-theme .menu >div .dropdown-item:hover { color: #0090D8;}
.c-nav.blue-theme .menu .dropdown >.mark { border-bottom: 8px solid #0090D8; }

.c-nav .menu >div .col:hover a{ color: #DB143A;}
.c-nav .menu >div .dropdown-item:hover { color: #DB143A;}
.c-nav .menu .dropdown >.mark {
  position: absolute;
  bottom:0;
  left:0;
  right:0;
  display: none;
  border-bottom: 8px solid #DB143A;
  background-color: transparent;
}
.c-nav .menu .dropdown:hover>.mark { display: block;}
.c-nav .menu .dropdown:hover>.dropdown-menu { display: block; }
.c-nav .menu .dropdown >.dropdown-menu { top: calc(100% - 2px);   /*to prevent space gap between dropdown-menu that close the popup*/ }
.c-nav .menu .dropdown>.dropdown-toggle:active { pointer-events: none; /*Without this, clicking will make it sticky*/ }

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    border-radius: 6px 0 6px 6px;
}

/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */
/* c-map : (頁面底site map)  */
/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */
.c-map {
  background-color: #0090D8;
  color: white;
}
.c-map .row {
  margin: 0 0 40px 0;
}
.c-map .row >div, .c-map .row >a >div{
  padding: 0 20px;
}
.c-map .c-card{
  font-size: .9em;
  text-align: left;
  font-weight: 100;
  margin: 40px 0 0 0;
}
.c-map .c-card >div:first-of-type, .c-map .c-card >a:first-of-type >div{
  margin-bottom: .5em;
  font-weight: 600;
  font-size: 1em;
}

.c-map .icon{
  width: 33px;
  height: 33px;
  vertical-align: middle;
  display: inline-block;
  background-size: contain;
  margin: 0 2px;
}
.c-map .user {background-image: url("../images/login_icon.png");}

.c-map .login {
  /*margin: 10px 0 0 0; display: block;*/
  margin: 5px 0 0 0;
  display: inline-block;
  font-size: .8em;
  float:left;
}
.c-map .login >span{
  margin: 0 5px 0 0;
}
/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */
/* c-footer : (底部footer)  */
/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */
.container-fluid.main.c-footer {
  background-color: #231815;
  color: white;
  padding: 1.5em 0;
}
.c-footer .col-auto{ padding: .1em .2em;}
.c-footer >div >div {
  font-size: .6em;
  font-weight: 100;
}
.c-footer .split {
  border-right: 1px solid white;
  padding: 0 1em;
}

/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */
/* cs-popup : (客服小視窗)  */
/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */
.cs-popup {
  width: 300px;
  height: auto;
  position: fixed;
  right: calc(50vw - 150px);
  box-shadow: 0px 5px 16px 0px rgba(0,0,0,0.75);
  bottom: 0;
  background-color: white;
  font-size: 1rem;
  z-index: 300;
}

.cs-popup >div:nth-of-type(1){
  background-color: #DB143A;
  color: white;
  height: 65px;
  font-size: 1.2em;
  text-align: center;
  line-height: 65px;
  position: relative;
  box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.75);
}
.cs-popup >div:nth-of-type(1) >span {
  position: relative;
  left: 10px;
  display: inline-block;
}

.cs-popup >div:nth-of-type(1) >span::before {
  content: '';
  background-image: url("../images/online_service.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 40px;
  height: 40px;
  display: block;
  position: absolute;
  top: 10px;
  left: -60px;
}

.cs-popup >div:nth-of-type(2){
  background-color: white;
  color: black;
  padding: 20px;
  height: 460px;
}
.cs-popup >div:nth-of-type(2) >input, .cs-popup >div:nth-of-type(2) >textarea {
  width: 100%;
  height: 55px;
  margin-bottom: 20px;
  border: none;
  background-color: #F2F2F2;
  color: #717171;
  padding: 8px 16px;
}
.cs-popup >div:nth-of-type(2) >textarea {
  height: 145px;
  margin-bottom: 0;
}
.cs-popup >div:nth-of-type(2) >span {
  margin-left: .2em;
  margin-bottom: .5em;
  display: inline-block;
}
.cs-popup .submit {
  cursor: pointer;
  margin: 20px auto 0 auto;
  text-align: center;
  background-color: #DB143A;
  color: white;
  height: 50px;
  line-height: 50px;
  /*padding: 10px 20px;*/
  padding: 0;
  width: 100%;
  
}

@media (min-width: 576px) {
  .cs-popup {
    right: 30px;
  }
}
/* ************************* */
.p-ot >div{
  padding:80px 0;
}
.p-ot p{
  text-align: left;
  font-size: 16px;
  line-height: 25px;
  margin-bottom: 50px;
}
.video-grid >div{
  margin: 10px 0;
}

/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */

.en-form .c-form p{
  font-size: .9em;
  font-weight: 600;
  margin-bottom: .7em;
}
.en-form .c-form p.note{
  font-size: .7em;
  font-weight: 500;
}
.en-form .c-form h1{
  font-size: 1.4em;
  margin-bottom: 1em;
  font-weight: 600;
}

.en-form .heading-line {
  width: 4em;
  border-top: 2px solid; 
  border-color: #0090D8;
  margin-bottom: 1em
}

.en-form .c-upload-box {
  background-color: #f5f5f5;
  border: 1px solid rgba(0,0,0, 0.2);
  text-align: center;
  width: 100%;
  padding: 1em;
  margin: .5em 0;
}

.en-form .c-upload-box >p {
  text-align: center;
  font-weight: 500;
}
.en-form .c-upload-box >button {
  display: inline-block;
  background-color: #0090D8;
  color: white;
  height: 2.5em;
  line-height: 2.5em;
  padding: 0;
  width: 10em;
  border: 1px solid rgba(0,0,0, 0.2);
}

.c-radio-group {
  text-align: left;
  font-size: 16px;
  margin-bottom: 1em;
}

.c-radio {
  text-align: left;
  font-family: arial;
  display: inline-block;
  position: relative;
  padding-left: 26px;
  margin-bottom: 5px;
  padding-top: 1px;
  cursor: pointer;
  font-size: 16px;
  padding-right: 10px;
  line-height: 40px;
}
.c-radio input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.c-radio >div {
  position: absolute;
  top: 10px;
  left: 0;
  height: 20px;
  width: 20px;
  background: #ffffff;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 50%;
}

.c-radio:hover input ~ div,
.c-radio input:focus ~ div {
  background: #ffffff;
}

.c-radio input:checked ~ div {
  background: #ffffff;
}
.c-radio:hover input:not([disabled]):checked ~ div,
.c-radio input:checked:focus ~ div {
  background: #fcf8f8;
}
.c-radio input:disabled ~ div {
  background: #e6e6e6;
  opacity: 0.6;
  pointer-events: none;
}
.c-radio >div:after {
  box-sizing: unset;
  content: '';
  position: absolute;
  display: none;
}
.c-radio input:checked ~ div:after {
  display: block;
}
.c-radio div:after {
  left: 4px;
  top: 4px;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #f60303;
}
.c-radio input:disabled ~ div:after {
  background: #7b7b7b;
}

.en-form .c-form .submit {
  cursor: pointer;
  margin: 30px calc(50% - 125px);
  background-color: #0090D8;
  color: white;
  height: 55px;
  line-height: 35px;
  padding: 0;
  width: 250px;
  display: inline-block;
}
/*
.en-form .c-form .submit:hover {
  background-color: #ad0a29;
}
*/
label.c-checkbox {
  position: relative;
  margin: 0;
  font-size: 1em;
  line-height: 1.3em; /* @i */
  padding-left: 1.7em; /* @i */
  width: auto;
  margin: 0 1em .5em 0;
  text-align: left;
  cursor: pointer;
}
label.c-checkbox >input[type="checkbox"]{
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}
label.c-checkbox >input[type="checkbox"] ~div{
  position: absolute;
  left: 0;
  top: 0;
  display: inline-block;
  margin: 0 .5em 0 0;
  height: 1.1em; /* @i */
  width: 1.1em; /* @i */
  background-image: url('../images/checkbox_default.svg');
  background-repeat: no-repeat;
  background-size: contain;
}
label.c-checkbox.static {cursor: default;}
/* label.c-checkbox:hover >input ~div {background-image: url('../images/checkbox_default.svg');} */
label.c-checkbox >input[type="checkbox"]:checked ~div {background-image: url('../images/checkbox_selected.svg')}


/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */

.s-header >div {
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(255,255,255,0.9);
  height: 4em;
  z-index: 1000;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
}
.s-header .logo{
  position: absolute;
  top: 0;
  left: 6.5%;
  width: 6em;
  height: 7em;
  z-index: 1001;
  background-color: white;
  border-radius: 0 0 3em 3em;
}
.s-header .logo >img {
  width: 70%;
  height: auto;
  margin: 5% 0 0 17%;
}
.s-header .link-menu {
  position: absolute;
  left: calc(10% + 10em);
  width: calc(90% - 14em);
  height: 100%;
  max-width: 600px;
}
.s-header .link-menu >a >div{
  color: #3E3A39;
  font-size: .9em;
  padding: 0 5px;
}
.s-header .link-menu >a >div:hover{
  color: #0071AE;
}
.s-header .hot-news {
  position: absolute;
  right: 10em;
  width: auto;
  height: 100%;
  padding: 1em 0;
  z-index: 1001;
  color: black;
  text-align: right;
  line-height: 2em;
}
.s-header .hot-news >a{
  color: black;
  font-size: .8em;
}
@media (max-width: 1300px) {
  .s-header .hot-news { display: none;}
}
.s-header .social-menu {
  position: absolute;
  right: 0;
  width: auto;
  height: 100%;
  padding: 1em 5em 1em 0;
  z-index: 1001;
}
.s-header .social-menu >a >img, .s-header .social-menu >img{
  height: 1.5em;
  width: 1.5em;
  margin: .2em .3em;
  display: inline-block;
  float: right;
}
@media (max-width: 576px) {
  .s-header .link-menu{
    display: none;
  }
  .s-header .social-menu >a >img, .s-header .social-menu >img { 
    height: 1.7em;
    width: 1.7em;
    margin: .1em .5em;
  }
  .s-header .logo{ 
    width: 4.5em;
    height: 5.5em;
    left: 2.2em;
  }
}
.s-header #mobile-nav-ham {
  cursor: pointer;
}
.s-header .hidden-panel {
  display:none;
  height: calc(100vh - 4em);
  margin-top: 4em;
  padding-top: 2em;
  overflow-y: scroll;
  color: white;
  background-color: rgba(0,0,0,0.75);
}
.s-header .hidden-panel >div >a >div{
  height: auto;
  width: 100%;
  font-size: 16px;
  line-height: 40px;
  padding: 10px 20px 10px 40px;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}
.s-header .hidden-panel >div >a >div:hover{
  background-color: rgba(0,0,0,0.2);
}
.s-header .hidden-panel >div {
  position: relative;
}
.s-header .hidden-panel >div button {
  background-color: transparent;
  color: white;
  border: none;
  position: absolute;
  right: 30px;
  margin-top: 20px;
  z-index: 500;
}
.s-header .hidden-panel >div >a >div {
  height: 60px;
}

.s-header .hidden-panel >div >div{
  height: auto;
}
.s-header .hidden-panel >div >div {
  height: auto;
}
.s-header .hidden-panel >div >div >a >div{
  height: 60px;
  width: 100%;
  font-size: 16px;
  line-height: 60px;
  padding: 0;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}
.s-header .hidden-panel >div >div >a >div:hover{
  background-color: rgba(0,0,0,0.2);
}
.s-header .hidden-panel >div >div >a >div >span{
  margin-left: 80px;
}
/*---------------------------------------------------*/

.carousel {
  height: 45vw;
  min-height: 400px;
}

.carousel-inner {
  height: 100%;
}

.carousel .carousel-item {
  height: 100%;
}

.carousel-inner img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.carousel-caption {
  font-size: 1.3vw;
  bottom: auto;
  top: 25%;
  left: auto;
  right: 8%;
  width: 50%;
}

.carousel-caption h1 {
  color: white;
  font-size: 2.6em;
  line-height: 1.3em;
  font-weight: bold;
  margin-bottom: .8em;
}

.carousel-caption p {
  color: #007ab7;
  font-size: 1em;
}

.carousel-control-prev-icon {
    position: relative;
    left: -30%;
}

.carousel-control-next-icon{
    position: relative;
    right: -30%;
    left: auto;
}

@media (max-width: 576px) {
  .carousel {
    min-height: 300px;
  }
  .carousel-inner img{
    object-fit: cover;
    height: 100%;
    width: 600px;
    position:relative;
    left: -100px;
  }
  .carousel-caption {
    top: 25%;
    width: 55%;
    font-size: 2.5vw;
  }
  .carousel-caption h1 {
    font-size: 2em;
    margin-bottom: .3em;
  }
}

/*---------------------------------------------------*/

.link-btn {
  display: inline-block;
  border-radius: 2em;
  font-size: 1em;
  font-weight: bold;
  color: white;
  padding: .6em 1.8em;
  margin-top: 1em;
}

.c-orange { background-color: #E9851E;}
.c-white {background-color: white;}
.c-blue-1 {background-color: #48B8C1;}
h1.c-blue-1, p.c-blue-1 {color: #48B8C1; background-color: transparent;}
.c-yellow {background-color: #EBCC23;}
.c-purple {background-color: #662D83;}
h1.c-purple, p.c-purple {color: #662D83; background-color: transparent;}
.c-pink {background-color: #DF1E79;}
h1.c-pink, p.c-pink {color: #DF1E79; background-color: transparent;}

/*---------------------------------------------------*/

.bar-div {
  position: relative;
  height: 47vw;
  min-height: 400px;
}
.bar-div .bg-img >img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 0;
  object-fit: cover;
}
.bar-div .bg-img >img.img-fill {
  object-fit: fill; 
}
@media (max-width: 576px) {
  .bar-div .bg-img >img.img-fill {
    object-fit: fill;
    height: auto;
    position: absolute;
    bottom: 0;
    top: auto;
  } 
}
.bar-div .fg-img img{
  position: absolute;
  z-index: 0;
}

.bar-div .content {
  position: relative;
  width: 53%;
  font-size: 1.5vw;
}

.bar-div .content h1{
  font-size: 2em;
  line-height: 1.3em;
  margin-bottom: .6em;
}

.bar-div .content p{
  font-size: 1em;
  color: black;
  line-height: 1.4em;
}

.bar-row {
  position: relative;
  min-height: 400px;
  margin: 0;
}

.bar-row .content {
  font-size: 1.5vw;
  min-height: 200px;
  padding: 0 10%;
}
@media (max-width: 576px) {.bar-div .content, .bar-row .content {font-size: 12px;}}

.bar-row .content h1{
  font-size: 2em;
  line-height: 1.3em;
  margin-bottom: .6em;
}

.bar-row .content p{
  font-size: 1em;
  line-height: 1.4em;
  color: black;
}

/*---------------------------------------------------*/
.content.custom-1 {
  margin-left: 25%;
  padding-top:1%;
}

.content.custom-2 {
  width: 45%;
  margin-left: 55%;
  padding: 8% 3% 10% 0;

}

img.custom-1 {
  width: 100%;
  bottom: 99%;
  left: 0;
  height: auto;
}
img.custom-2 {
  width: 15%;
  height: auto;
  bottom: 4%;
  left: 30%;
}
img.custom-3 {
  width: 22%;
  height: auto;
  bottom: 0;
  right: 18%;
}

img.custom-4 {
  width: 80%;
  padding: 10% 0;
}

img.custom-5 {
  position: absolute;
  width: 100%;
  bottom: 99%;
  left: 0;
  height: auto;
}

img.custom-6 {
  position: absolute;
  width: 15%;
  bottom: 110%;
  left: 50%;
  height: auto;
}
img.custom-7 {
  width: 60%;
  height: auto;
  margin: 5% 10% 5% 10%;
}
img.custom-8 {
  position: absolute;
  width: 15%;
  bottom: 101%;
  left: 49%;
  height: auto;
}
@media (max-width: 576px) { img.custom-8 { display: none;}}
img.custom-9 {
  width: 40%;
  height: auto;
  margin: -15% 0 5% 60%;
}
.bar-div.custom-1 {
  min-height: 350px;
}
.row.custom-1 {
  padding-bottom: 10%;
}
h1.custom-1{
  font-size: 1.8em !important;
}
/*---------------------------------------------------*/
.i-banner{
  margin: 4em 0 0 0;
  height: 15em;
}
.i-banner >div{
  padding: 0;
  color: white;
  text-align: center;
}
.i-banner h1 {
  font-size: 2.2em;
  margin-bottom: .4em;
}
.i-banner h2 {
  font-size: 1em; 
  letter-spacing: 1px;
}
.i-bar-div {
  padding: 3em 13%;
  margin: 0;
  min-height: 25em;
}
.i-bar-div >div {
  text-align: center;
  padding: 0;
}
.i-bar-div >div >img {
  width: 88%;
}
.i-bar-div >div >p {
  padding: 3em 2em;
  text-align: left;
}
@media (max-width: 1200px) { 
  .i-bar-div {padding: 1em 1em; }
}
.i-bar-div .icon-pic {
  margin: -4em 10% 0 10%;
  width: 45%;
}
.i-form {
  background-color: #D8D8D8;
  width: 100%;
}
.i-form >div {
  padding: 4em 10em;
  margin: auto;
  max-width: 80em;
  width: 100%;
}
.i-form h1 {
  width: 100%;
  text-align: center;
  font-size: 2em;
  margin-bottom: 1em;
}
.i-form input{
  width: 100%;
}
.i-form label {
  width: 100%;
}
.i-form label p{
  margin: 1.5em 0 .3em 0;
  width: 100%;
}
.i-form label p.require::after {
  content: '*';
  font-size: 1.3em;
  color: #DB143A;
  font-weight: bold;
  margin-left: .2em;
  position: relative;
  top: .2em;
}
@media (max-width: 1200px) { 
  .i-form >div{padding: 4em 1.5em; }
}
.i-form ::placeholder { color: rgba(0,0,0,0.2);}
.i-form input, .i-form select, .i-form textarea {
  width: 100%;
  /*margin: 10px 0;*/
  border: solid 1px rgba(0,0,0, 0.2);
  border-radius: 2px;
  height: 40px;
  font-size: 16px;
  padding: 0 15px 0 15px;
  line-height: 40px;
}

.i-form textarea {
  height: 100px;
  line-height: 26px;
  padding-top: 8px;
}

.i-form select.custom-select{
  max-width: 100%;
  min-width: 100%;
  background: none;
  background-color: white;
  padding-right: 35px;
}

.i-form select.custom-select:required:invalid, .i-form select.custom-select option[value=""][disabled]{
  color: rgba(0,0,0,0.2);
}
.i-form .c-select{
  position: relative;
  width: 100%;
}
.i-form .c-select::after{
  content: ' ';
  position: absolute;
  right: 0;
  width: 0;
  height: 0;
  top: 17px;
  right: 10px;
  border-style: solid;
  border-width: 7px 7px 0 7px;
  border-color: #DB143A transparent transparent transparent;
  pointer-events: none;
}
.i-form label.c-radio {
  width: auto;
}
.i-form input[type="submit"] {
  background-color: #B3272D;
  color: white;
  border-radius: 50px;
  height: 50px;
  line-height: 50px;
  width: 50%;
  text-align: center;
  margin: 30px 0;
  cursor: pointer;
  max-width: 200px;
}
.i-form .hint-link {
  color: black;
  text-align: center;
}

/*---------------------------------------------------*/
.talents .i-banner {
  background-color: #EBCC23;
}
.talents div.i-bar-div {
  background-color: #FFEA92;
  color: #806239;
}
.talents div.i-bar-div:nth-of-type(even) {
  background-color: rgba(255,234,146,.2);
}
.talents .custom-1 {
  width: 30%;
}
/*---------------------------------------------------*/
.teaching .i-banner {
  background-color: #EDA23B;
}
.teaching div.i-bar-div {
  background-color: #FFD199;
  color: #C9481B;
}
.teaching div.i-bar-div h1 {
  color: #E35A24;
  text-align: left;
  padding-left: 1em;
  font-size: 2em;
  padding-top: 1em;
}
.teaching div.i-bar-div:nth-of-type(even) {
  background-color: #FFEEE3;
}
/*---------------------------------------------------*/
.campus .i-banner {
  background-color: #FFADC2;
}
.campus div.i-bar-div {
  background-color: #FFE3EC;
  color: #E40580;
}
.campus div.i-bar-div h1 {
  color: #CB0267;
  text-align: left;
  padding-left: 1em;
  font-size: 2em;
  padding-top: 1em;
}
/*---------------------------------------------------*/
.about .i-banner {
  background-color: #91C8ED;
}
.about div.i-bar-div {
  background-color: #91C8ED;
  color: #034D77;
}
.about div.i-bar-div h1 {
  color: #0071AE;
  text-align: left;
  padding-left: 1em;
  font-size: 2em;
  padding-top: 1em;
}
.about div.i-bar-div h2 {
  color: #0071AE;
  text-align: left;
  padding-left: 1.3em;
  font-size: 1.5em;
  padding-top: 1em;
}
.about div.i-bar-div:nth-of-type(even) {
  background-color: #D2EFFF;
}
.about .custom-1 {
  padding-left: 2em;
  width: 60%;
  position: relative;
  top: -2em;
}
.about .custom-1 img {
  width: 48%;
  padding-right: 5%;
  float: left;
}
.about .custom-1 span {
  width: 48%;
  display: inline-block;
  float: left;
  margin-top: 1em;
  font-size: .9em;
  text-align: left;
  padding-left: .4em;
}
.about .custom-2 {
  position: relative;
  top: -2.5em;
}
.about .custom-2 span {
  color: #034D77;
  text-align: left;
  display: inline-block;
  width: 100%;
  padding-left: 2em;
}
.about .custom-3 {
  position: relative;
  top: -2.5em;
  width: 100%;
}
.about .custom-3 span {
  color: #034D77;
  text-align: left;
  display: inline-block;
  padding-left: 1em;
  line-height: 2em;
}
.about .custom-3 >a >div {
  width: 48%;
  display: inline-block;
  margin-top: .5em;
  text-align: left;
  padding-left: 1.4em;
}
.about .custom-3 >a >div >img{
  width: 2em;
}
.about .custom-4 h1, .about .custom-4 p {
  text-align: center !important;
}
.about .custom-4 p {
  padding: 1em 4em 2em 4em;
} 
.about .custom-5 img {
  padding: 2%;
  width: 100%;
}
.about .custom-6 {
  padding-top: 2em;
}
.about .custom-6 >div {
  margin: auto;
  background-color: white;
  width: 14vw;
  height: 14vw;
  border-radius: 14vw;
  text-align: center;
  color: black;
  font-size: 1.2em;
  line-height: 1.6em;
  position: relative;
}
.about .custom-6 >div img {
  position: absolute;
  right: -2em;
  width: .8em;
  top: 6vw;
}
.about .custom-6 >p {
  padding-top: 1.5em;
}
@media (max-width: 768px) { 
  .about .custom-6 >div {
    width: 11em;
    height: 11em;
    border-radius: 11em;
  }
  .about .custom-6 >p {
    padding: 1.5em 20vw 0 20vw;
  }
  .about .custom-6 >div img {
    display: none;
  }
}
.about .color-1 {background-color: #91C8ED !important;}
.about .color-2 {background-color: #65CED1 !important;}
.about .color-3 {background-color: #EBCC23 !important;}
.about .color-4 {background-color: #FFADC2 !important;}
.about .custom-7 >h2 {
  padding: 1.5em 3em !important;
  font-size: 1.2em !important;
  text-align: center !important;
}
/*---------------------------------------------------*/
.plane .i-banner {
  background-color: #48B8C1;
}
.plane div.i-bar-div {
  background-color: #48B8C1;
  color: #48B8C1;
}
.plane div.i-bar-div h1 {
  color: #00999D;
  text-align: left;
  padding-left: 1em;
  font-size: 2em;
  padding-top: 1em;
}
.plane div.i-bar-div:nth-of-type(even) {
  background-color: rgba(136,234,226,.2);
}
.plane div.tables {
  position: relative;
}
.plane div.tables .scroll {
  overflow: auto;
  margin: auto;
}
.plane div.tables img.p-1 {
  position: absolute;
  top: 33%;
  left: 2%;
  width: 8em;
  z-index: 0;
}
.plane div.tables img.p-2 {
  position: absolute;
  bottom: 7%;
  right: 2%;
  width: 10em;
  z-index: 0;
}
.plane div.tables .btns {
  width: 100%;
  text-align: center;
  margin: 1em 0;
}
.plane div.tables .btns >button{
  display: inline-block;
  background-color: transparent;
  border: solid 1px #b8b8b8;
  color: #b8b8b8;
  border-radius: 3em;
  line-height: 3em;
  height: 3em;
  padding: 0 2em;
  margin: .4em .3em;
}
.plane div.tables button.active{
  border: solid 1px rgba(72,184,193,.9);
  color: black;
}
.plane div.tables >p{
  text-align: center;
  padding: 2em 10%; 
}
.plane div.tables table{
  position: relative;
  border: 1px solid #b8b8b8;
  z-index: 10;
  background-color: white;
  /*min-width: 960px;*/
  display: none;
  margin-bottom: 2em;
}
.plane div.tables table.active{
  display: table;
}
.plane div.tables table thead tr {
  background-color: rgba(72,184,193,.9);  
}
.plane div.tables table tbody tr {
  background-color: rgba(72,184,193,.5);
}
.plane div.tables table td{
  text-align: center;
  color: black;
  font-size: 12px;
  padding: .9em 1em;
  border: 1px solid #dadada;
  min-width: 90px;
}
.plane div.tables table td.color-w{
  background-color: white;
}
.plane div.tables table td.color-g{
  background-color: #dadada;
}
#table-k2 thead tr {
  background-color: rgba(232,126,126,.9);  
}
#table-k2 tbody tr {
  background-color: rgba(232,126,126,.5);
}
#table-k3 thead tr {
  background-color: rgba(233,132,30,.9);  
}
#table-k3 tbody tr {
  background-color: rgba(233,132,30,.5);
}

.plane div.videos h1{
  text-align: center;
  padding: 1em 0 0 0;
}
.plane div.videos .autosize{
  padding: 1em 1em 1em 1em;
}
.plane div.videos .autosize iframe{
  width: 460px;
  height: 215px;
}
@media (max-width: 576px) {
  .plane div.videos .autosize iframe{
    max-width: 560px;
    max-height: 315px;
    width: calc(100vw - 4em);
    height: 100vh;
  }
}
.plane div.six-icon{
  padding: 2.5em 13%;
}
.plane div.six-icon >div img{
  padding: 2em;
}
.plane div.six-icon >div h1{
  text-align: center;
  padding: 0;
}
.plane div.six-icon >div p{
  text-align: left;
  padding: 1em 2em 2em 2em;
}

@media (max-width: 768px) { 
  .plane div.six-icon >div img{
    padding: 0 20% 10% 20%;
  }
  .plane div.six-icon{
    padding: 1.5em 1em;
  }

}
/*---------------------------------------------------*/
.afterschool h1, .afterschool h2{
  color: #08338D;  
}
.afterschool h1 {
  padding-top: 1.5em;
  font-weight: bold;
}
.afterschool .i-bar-div {
  padding: 0 10% !important;
}

@media (max-width: 768px) { 
  .afterschool .i-bar-div {
  padding: 0 5% !important;
}

}
.afterschool .lightgreen {
  background-color: #F3FFC0;
}

.afterschool .darkgreen, .afterschool .i-form {
  background-color: #B7D14A;
}
.afterschool .i-bar-header {
  position: relative;
  top: 8rem;
  color: black;
  font-size: 1.8rem;
}
@media (max-width: 768px) { 
  .afterschool .i-bar-header {font-size: 1rem;}
}

.afterschool .i-bar-header h1{
  padding-top: 0;
  font-size: 2.1em;
}
.afterschool .i-bar-header h2{
  font-size: 1.5em;
}
.afterschool .i-bar-header h3{
  font-size: 1.1em;
}

.afterschool .i-bar-img {
  margin-top: -1em;
  width: 80vw;
}
@media (max-width: 1200px) { 
  .afterschool .i-bar-img {
    margin-top: 2em;
  }
}
@media (max-width: 768px) { 
  .afterschool .i-bar-img {
    margin-top: 6em;
  }
}

.afterschool .custom-ac-1 {
  width: 90%;
  margin: auto;
  padding: 3em 0;
}
.afterschool .custom-ac-2 {
  padding-bottom: 0;
  text-align: left;
  padding-right: 2em;
}

.afterschool .custom-ac-3 {
  width: 49%;
  margin-bottom: .5em;
}
@media (max-width: 768px) { 
  .afterschool .custom-ac-3 {
    width: 90%;
  }
}

.afterschool .custom-ac-4 {
  padding-left: .5em;
  text-align: left;
}
.afterschool .custom-ac-5 {
  margin: .5em 0 1em 0;
}
.afterschool .custom-ac-6 {
  font-size: 2rem;
}

.afterschool .custom-ac-6 h2{
  font-size: 1.1em;
}

.afterschool .custom-ac-6 p{
  width: 60%;
  margin: auto;
  font-size: .6em;
  padding-top: .6em;
}
@media (max-width: 768px) { 
  .afterschool .custom-ac-6 { font-size: 1rem;}
  .afterschool .custom-ac-6 p{ width: 90%; }
}

@media (max-width: 768px) { 
  .afterschool .custom-ac-8 { display: none;}
}

.afterschool .custom-ac-9 {
  padding: 3em 10% 5em 10% !important;
}

.afterschool .custom-ac-10 {
  padding: 1em 15% 2em 15% !important;
}
.afterschool .custom-ac-10 img{
  width: 100%;
}
.afterschool .custom-ac-7 {
  width: 70% !important;
}


.afterschool .lesson-table {
  width: 100%;
  /*max-width: 1200px;*/
  margin: auto;
  padding: 3em 0 8em 0;
  position: relative
}
.afterschool .lesson-table table {
  color: white;
  border: solid 1px white;
}
.afterschool .lesson-table table thead{
  background-color: #D21819;
}
.afterschool .lesson-table table tbody{
  background-color: #043784;
}
.afterschool .lesson-table table td{
  height: 3em;
}
.afterschool .lesson-table table td.crossed{
   background-image: linear-gradient(to right top,  transparent calc(50% - 1px), white, transparent calc(50% + 1px)); 
}
.afterschool .lesson-table .table-title {
  position: absolute;
  left: 0;
  top: 1em;
  color: #08338D;  
}
.afterschool .lesson-table .table-footer {
  position: absolute;
  left: 0;
  bottom: 1em;
  text-align: left;
}
.afterschool .lesson-table .table-footer-icon {
  position: absolute;
  right: 0;
  bottom: 1em;
  text-align: right;
  margin-bottom: 1rem;
}
.afterschool .lesson-table .table-footer-icon img{
  width: 12%;
  margin: 0 .5em;
}
/*---------------------------------------------------*/
.form-complete {
  width: 100%;
  height: calc(100vh - 100px);
  padding-top: 150px;
  text-align: center;
}
.form-complete h1{
  padding: 1em;
  font-size: 1.2rem;
  text-align: center;
}
.form-complete .home{
  background-color: #B3272D;
  color: white;
  border-radius: 50px;
  height: 50px;
  line-height: 50px;
  width: 50%;
  text-align: center;
  margin: 30px 0;
  cursor: pointer;
  max-width: 200px;
  display: inline-block;
}
